<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ratatoulie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ratatoulie</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- button tambah -->
<ion-card>
  <ion-button (click)="openModalTambah(true)" expand="block">Tambah Resep</ion-button>
</ion-card>
<!-- modal tambah -->
<ion-modal [isOpen]="modalTambah">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Batal</ion-button>
        </ion-buttons>
        <ion-title>Tambah Resep</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input label="Nama Resep" labelPlacement="floating" required [(ngModel)]="nama_resep"
          placeholder="Masukkan Nama Resep" type="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input label='Langkah Langkah' labelPlacement="floating" required [(ngModel)]="langkah_langkah"
          placeholder="Masukkan Langkah Langkah" type="text">
        </ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="button" (click)="tambahResep()" color="primary" shape="full" expand="block">Tambah 
            Resep
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-content>
  </ng-template>
</ion-modal>
  <ion-card *ngFor="let item of dataresep">
    <ion-item>
      <ion-label>
        {{item.nama_resep}}
        <p>{{item.langkah_langkah}}</p>
      </ion-label>

<ion-button expand="block" (click)="openModalEdit(true,item.id)">Edit</ion-button>
<ion-button color="danger" slot="end" (click)="hapusResep(item.id)">Hapus</ion-button>
    </ion-item>
  </ion-card>
</ion-content>



<!-- ini untuk modal edit -->
<ion-modal [isOpen]="modalEdit">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Batal</ion-button>
        </ion-buttons>
        <ion-title>Edit Resep</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input label="Nama Resep" labelPlacement="floating" required [(ngModel)]="nama_resep"
          placeholder="Masukkan Nama Resep" type="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input label='Langkah Langkah' labelPlacement="floating" required [(ngModel)]="langkah_langkah"
          placeholder="Masukkan Langkah Langkah" type="text">
        </ion-input>
      </ion-item>
      <ion-input required [(ngModel)]="id" type="hidden">
      </ion-input>
      <ion-row>
        <ion-col>
          <ion-button type="button" (click)="editResep()" color="primary" shape="full" expand="block">Edit
            Resep
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-content>
  </ng-template>
</ion-modal>